@model AutoWorld.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturedYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturedYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturedMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturedMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransmissionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransmissionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EcoCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EcoCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
